{% extends "layout.html" %}

{% block title %}
    Add Restaurant
{% endblock %}

{% block content %}
    <h2>Add a new restaurant</h2>

    <form action="/add_rest" method="post">
        <div>
            <input autofocus name="restaurant_name" placeholder="Restaurant Name" type="text">
            <input name="address" placeholder="Address" type="text">
            <input name="phone" placeholder="Phone Number" type="text">
            <select class="form-select" name="cuisine">
                <option selected disabled>Cuisine</option>
                <option value="American">American</option>
                <option value="Chinese">Chinese</option>
                <option value="Cuban">Cuban</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="Mexican">Mexican</option>                
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Other">Other</option>       
            </select>
            <input class="form-check-input" type="radio" name="rating" id="1star" value="1">
            <label clas="form-check-label" for="1star">1 Star</label>
            <input class="form-check-input" type="radio" name="rating" id="2stars" value="2">
            <label clas="form-check-label" for="2stars">2 Stars</label>
            <input class="form-check-input" type="radio" name="rating" id="3stars" value="3">
            <label clas="form-check-label" for="3stars">3 Stars</label>
            <input class="form-check-input" type="radio" name="rating" id="4stars" value="4">
            <label clas="form-check-label" for="4stars">4 Stars</label>
            <input class="form-check-input" type="radio" name="rating" id="5stars" value="5">
            <label clas="form-check-label" for="5stars">5 Stars</label>
        </div>
        <button type="submit">Add</button>
    </form>
{% endblock %}
